.loadingPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        width: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
        background:
            radial-gradient(farthest-side, var(--body-font-hover) 94%, #0000) top/12px 12px no-repeat,
            conic-gradient(#0000 30%, var(--body-font-hover));
        -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
        animation: l13 1s infinite linear;
    }

    @keyframes l13 {
        100% {
            transform: rotate(1turn)
        }
    }
}