.aboutMe {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aboutMe h1, .aboutMe p {
    margin: 0;
    color: var(--body-font-highlight);
}

.aboutMe h1 {
    font-size: 26px;
    font-weight: 700;
}

.aboutMe p {
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
}

.socialButtons {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.socialButtons a {
    text-decoration: none;
}

.socialButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 120px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--body-bg-shadow);
    cursor: pointer;
}

.socialButtons button svg {
    fill: var(--body-font-highlight);
    width: 14px;
    height: 14px;
}

.socialButtons button p {
    font-size: 14px;
    font-weight: 600;
    color: var(--body-font-highlight);
}

/* Hover */
.socialButtons button:hover {
    background-color: var(--body-font-highlight);
}

.socialButtons button:hover svg {
    fill: var(--body-font-alternative);
}

.socialButtons button:hover p {
    color: var(--body-font-alternative);
}