@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --body-bg: #ffffff;
    --body-bg-shadow: #E2E8EB;
    --body-font: #2D333A;
    --body-font-highlight: #2D333A;
    --body-font-alternative: #ffffff;
    --body-font-shadow: #ABAFB0;
}

.darkTheme:root {
    --body-bg: #2D333A;
    --body-bg-shadow: #4A535F;
    --body-font: #9FADBA;
    --body-font-highlight: #FFFFFF;
    --body-font-alternative: #2D333A;
    --body-font-shadow: #828B98;
}

* {
    font-family: 'Open Sans', serif;
    transition: 0.1s;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: var(--body-bg);
}

.container {
    width: 100%;
    max-width: 720px;
}

main {
    padding: 0 24px 64px 24px;
}

/* ---- Mobile ---- */

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    main {
        padding: 0 16px 64px 16px;
    }
}