:root {
    --theme-ico: url(../icons/main/moon.svg) no-repeat center;
    --theme-ico-hover: rgb(182, 202, 231);
}

.darkTheme:root {
    --theme-ico: url(../icons/main/sun.svg) no-repeat center;
    --theme-ico-hover: rgb(141, 126, 96);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 20px;
    padding: 24px;
}

header .profilePicture {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .profilePicture:hover {
    filter: opacity(0.75);
}

header .themeSwitch {
    background: var(--theme-ico);
    background-size: 16px;
    background-color: var(--body-bg-shadow);
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

header .themeSwitch:hover {
    background-color: var(--theme-ico-hover);
}