:root {
    --main-font-bg: rgb(150, 222, 255);
    --main-bg: rgb(54, 60, 68);
    --main-desc-font: rgb(0, 0, 0);
    --main-desc-bg: rgb(150, 222, 255);
    --mail-btn-font: rgb(114, 115, 121);
    --mail-btn-bg: rgb(34, 39, 46);
    --mail-btn-hover: rgb(244, 87, 105);
    --theme-ico: url(../icons/ico-sun.svg) no-repeat center;
    --theme-ico-bg: rgb(54, 60, 68);
}

.light-theme:root {
    --main-font-bg: rgb(114, 115, 121);
    --main-bg: rgb(255, 255, 255);
    --main-desc-font: rgb(114, 115, 121);
    --main-desc-bg: rgb(217, 221, 224);
    --mail-btn-font: rgb(114, 115, 121);
    --mail-btn-bg: rgb(231, 234, 237);
    --mail-btn-hover: rgb(244, 87, 105);
    --theme-ico: url(../icons/ico-moon.svg) no-repeat center;

    --theme-ico-bg: rgb(217, 221, 224);
}

.hello {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 24px;
    margin: 48px 96px 50px 96px;
}

.hello-pic {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.hello-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.theme-switch {
    background: var(--theme-ico);
    background-size: 24px;
    background-color: var(--theme-ico-bg);
    height: 48px;
    width: 48px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

.hello-cards {
    grid-column: 2;
}

.hello-main {
    padding: 25px 40px 20px 40px;
    background: var(--main-bg);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: end;
}

.hello-main h1 {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 34px;
    font-style: normal;
    font-weight: normal;
    color: var(--main-font-bg);
}

.hello-contact {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}

#link-mail-large {
    font-size: 20px;
    color: var(--mail-btn-font);
    text-decoration: none;
    padding: 8px 20px 8px 54px;
    background: url("../icons/ico-mail.png") no-repeat;
    background-position: 16px center;
    background-color: var(--mail-btn-bg);
    display: inline-block;
    border-radius: 5px;
}

#link-mail-large:hover {
    color: rgb(255, 255, 255);
    background: url("../icons/ico-mail-hover.png") no-repeat;
    background-position: 16px center;
    background-color: var(--mail-btn-hover);
}

#link-mail, #link-linkedin, #link-github, #link-medium {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 12px;
}

#link-mail {
    background: url("../icons/ico-mail-small.png") no-repeat;
}

#link-mail:hover {
    background: url("../icons/ico-mail-small-hover.png") no-repeat;
}

#link-mail {
    display: none;
}

#link-linkedin {
    background: url("../icons/ico-linkedin.png") no-repeat;
}

#link-linkedin:hover {
    background: url("../icons/ico-linkedin-hover.png") no-repeat;
}

#link-github {
    background: url("../icons/ico-github.png") no-repeat;
}

#link-github:hover {
    background: url("../icons/ico-github-hover.png") no-repeat;
}

#link-medium {
    background: url("../icons/ico-medium.png") no-repeat;
}

#link-medium:hover {
    background: url("../icons/ico-medium-hover.png") no-repeat;
}

.hello-desc {
    font-size: 24px;
    color: var(--main-desc-font);
    margin: 20px 20% 0 0;
    padding: 15px 40px;
    background: var(--main-desc-bg);
    border-radius: 30px;
}

.hello-desc p {
    margin: 0;
}

/* ---------- Mobile --------------- */

@media screen and (max-device-width: 910px), screen and (max-width: 910px) {
    #link-mail {
        display: inline-block;
    }

    #link-mail-large {
        display: none;
    }
}

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .hello {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 8px 8px 50px 8px;
    }

    .hello-pic {
        z-index: 1;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        position: relative;
        top: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .hello-pic img {
        width: 40vw;
        height: 40vw;
        border: 8px solid var(--body-bg);
        border-radius: 50%;
    }

    .theme-switch {
        background-size: 6vw;
        width: 12vw;
        height: 12vw;
        border: 4px solid var(--body-bg);
    }

    .hello-cards {
        grid-column: 1;
        grid-row: 2;
    }

    .hello-main {
        padding: 60px 20px 32px 20px;
        border-radius: 20px;
    }

    .hello-main h1 {
        font-size: 26px;
        text-align: center;
    }

    .hello-contact {
        display: flex;
        gap: 5vw;
        justify-self: center;
        padding-top: 20px;
    }

    .hello-desc {
        font-size: 20px;
        padding: 12px 24px;
        margin: 12px 0 0 0;
        border-radius: 20px;
    }
}