@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --body-bg: #22272e;
    --body-font: rgb(117, 131, 145);
}

.light-theme:root {
    --body-bg: rgb(231, 234, 237);
    --body-font: rgb(114, 115, 121);
}

* {
    font-family: 'Source Code Pro', monospace;
    transition: 0.1s;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: var(--body-bg);
}

.container {
    max-width: 1024px;
}

/* ---------- Mobile --------------- */

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .container {
        position: relative;
        top: -45px;
    }

    body {
        display: inline;
    }
}