:root {
    --prj-theme: rgb(28, 144, 213);
    --prj-title-font: rgb(34, 39, 46);
}

.light-theme:root {
    --prj-theme: rgb(38, 119, 165);
    --prj-title-font: rgb(255, 255, 255);
}

.prj-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin: 32px 8px;
}

.prj-preview, .prj-actions {
    grid-row: 1;
}

.prj-left {
    grid-column: 1;
    justify-self: left;
}

.prj-right {
    grid-column: 2;
    justify-self: right;
}

.prj-card img {
    width: 100%;
    max-height: 330px;
    border-radius: 20px;
}

.prj-actions {
    justify-self: left;
    padding: 16px 8px 16px 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
}

.prj-card h1, .prj-card h2, .prj-card span, .prj-btn {
    grid-column: 1;
    margin: 0;
    padding: 8px 0;
}

.prj-card h1 {
    grid-row: 1;
    font-weight: bold;
    font-size: 35px;
    color: var(--prj-theme);
}

.prj-card h2 {
    grid-row: 2;
    padding: 4px 16px;
    max-width: 200px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    color: var(--prj-title-font);
    background: var(--prj-theme);
}

.prj-card span {
    grid-row: 3;
    font-weight: normal;
    font-size: 20px;
    color: var(--body-font);
}

.prj-btn {
    grid-row: 4;
    padding: 20px 0;
}

.prj-btn input {
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    border: 2px solid var(--prj-theme);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: var(--prj-theme);
    background-color: rgba(0, 0, 0, 0);
}

.prj-btn input:hover {
    background: var(--prj-theme);
    color: rgb(255, 255, 255);
}

/* ---------- Mobile (Celular) --------------- */

@media screen and (max-device-width: 580px), screen and (max-width: 580px) {
    .prj-card {
        grid-template-columns: 1fr;
    }

    .prj-preview, .prj-actions {
        grid-column: 1;
        grid-row: auto;
    }

    .prj-preview {
        justify-self: center;
    }

    .prj-actions {
        padding: 0 10px 10px 10px;
    }

    .prj-card img {
        width: 90vw;
        max-height: 100%;
        transition: 0s;
    }

    .prj-card h1 {
        font-size: 26px;
    }

    .prj-card h2 {
        padding: 4px 16px;
        max-width: 180px;
        font-weight: bold;
        font-size: 16px;
    }

    .prj-btn input {
        width: 90vw;
    }
}

/* ---------- Mobile (Tablet) --------------- */

@media screen and (min-device-width: 580px) and (max-device-width: 768px), screen and (min-width: 580px) and (max-width: 768px) {
    .prj-card {
        grid-template-columns: 1fr;
    }

    .prj-preview, .prj-actions {
        grid-column: 1;
        grid-row: auto;
    }

    .prj-preview {
        justify-self: center;
    }

    .prj-actions {
        padding: 10px;
    }

    .prj-card img {
        width: 94vw;
        max-height: 100%;
        transition: 0s;
    }

    .prj-card h1 {
        font-size: 48px;
    }

    .prj-card h2 {
        padding: 4px 16px;
        max-width: 300px;
        font-weight: bold;
        font-size: 26px;
    }

    .prj-card span {
        padding-top: 16px;
        font-size: 32px;
    }

    .prj-btn input {
        width: 90vw;
        height: 80px;
        font-size: 26px;
        border: 4px solid var(--prj-theme);
    }
}