.projectsTags {
    display: flex;
    gap: 8px;
    margin: 24px 0;
}

.tagButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    min-width: 80px;
    cursor: pointer;
    background-color: var(--body-bg-shadow);
}

.tagButton p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--body-font-highlight);
}

/* Hover */
.tagButton:hover, .tagButton.active {
    background-color: var(--body-font-highlight);
}

.tagButton:hover p, .tagButton.active p {
    color: var(--body-font-alternative);
}


.projectItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    width: 100%;
    padding: 8px;
}

.projectItem p {
    color: var(--body-font);
    margin: 0;
}

.projectItem #icon {
    width: auto;
    height: 48px;
    border-radius: 4px;
}

.projectItem #details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.projectItem #name {
    font-size: 14px;
    font-weight: 700;
}

.projectItem #tag {
    font-size: 12px;
}

.projectItem #date {
    font-size: 14px;
}

.projectItem:hover {
    background-color: var(--body-bg-shadow);
    border-radius: 4px;
}