.tabs {
    display: flex;
    gap: 32px;
    padding-top: 64px;
}

.tabButton {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.tabButton p {
    margin: 0;
    font-size: 26px;
    color: var(--body-font-shadow);
}

.tabButton :hover {
    color: var(--body-font-highlight);
}

.tabButton.active p {
    color: var(--body-font-highlight);
    font-weight: 700;
}