.tabs {
    display: flex;
    gap: 32px;
    padding: 56px 0 8px 0;
}

.tabButton {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.tabButton p {
    margin: 0;
    font-size: 26px;
    color: var(--body-font-shadow);
}

.tabButton :hover {
    color: var(--body-font-highlight);
}

.tabButton.active p {
    font-weight: 700;
    text-decoration: underline;
    color: var(--body-font-highlight);
}


/* ---- Mobile ---- */

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .tabs {
        padding: 32px 0 8px 0;
    }

    .tabButton p {
        font-size: 22px;
    }
}