.tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 48px 0;
}

.tabs button {
    width: 30%;
    min-width: 200px;
    padding: 14px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: inherit;
}

.tabs button {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

/* Cores dos botões */

.btn-xp {
    color: #F45769;
    border: 2px solid #F45769;
}

.btn-xp:hover, .btn-xp.active {
    color: rgb(255, 255, 255);
    background-color: #F45769;
}

.btn-prj {
    color: #2677A5;
    border: 2px solid #2677A5;
}

.btn-prj:hover, .btn-prj.active {
    color: rgb(255, 255, 255);
    background-color: #2677A5;
}

.btn-timeline {
    color: #6CA2F3;
    border: 2px solid #6CA2F3;
}

.btn-timeline:hover, .btn-timeline.active {
    color: rgb(255, 255, 255);
    background-color: #6CA2F3;
}

/* Tab Content (Pagina dentro das tabs) */

.tabcontent {
    display: none;
    margin-bottom: 64px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Efeito Fade-In */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .tabs {
        z-index: 1;
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 64px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        display: flex;
        overflow-x: auto;
    }
    .tabs button {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 14px;
        border: none;
        border-radius: 0;
    }
    .btn-xp, .btn-prj, .btn-timeline {
        color: #9da0aa;
    }
    .btn-xp:hover, .btn-xp.active, .btn-prj:hover, .btn-prj.active, .btn-timeline:hover, .btn-timeline.active {
        color: #F45769;
        background-color: transparent;
    }
    .tabcontent {
        margin-bottom: 42px;
    }
}