.gamePage {
    #gameLinks {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 16px 0;
    }

    #gameOverview {
        margin-top: 32px;
        font-size: 16px;
        max-width: 85%;

        h1 {
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: bold;
            color: var(--body-font-highlight);
        }

        p {
            font-size: 14px;
            white-space: pre-line;
            color: var(--body-font);
        }
    }

    #gameGallery {
        margin-top: 32px;

        h1 {
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: bold;
            color: var(--body-font-highlight);
        }

        #gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            &>* {
                flex: 1 0 30%;
                box-sizing: border-box;
            }
        }
    }
}


/* ---- Mobile ---- */

@media screen and (max-device-width: 480px),
screen and (max-width: 480px) {
    .gamePage {
        #gameOverview {
            margin-top: 16px;

            p {
                font-size: 12px;
            }
        }

        #gameGallery {
            margin-top: 16px;

            #gallery {
                justify-content: space-between;

                &>* {

                    flex: 0 0 48%;
                }
            }
        }
    }
}