:root {
    --theme-ico: url('/assets/icons/svg/moon.svg') no-repeat center;
}

.darkTheme:root {
    --theme-ico: url('/assets/icons/svg/sun.svg') no-repeat center;
}

.themeSwitch {
    background: var(--theme-ico);
    background-size: 16px;
    background-color: var(--body-bg-shadow);
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: var(--body-font-hover);
    }
}